/* Vars
   ----------------------------------------------------------------- */

/**
 * Breakpoints
 */
$breakpoints: (
  'xs': 'screen and (max-width: 575.98px)',
  'sm': 'screen and (min-width: 576px)',
  'lg': 'screen and (min-width: 1080px)',
) !default;

/**
 * Colors
 */
$color-ffffff: #fff;
$color-e0e0e0: #e0e0e0;
$color-000b47: #000b47;
$color-2b3278: #2b3278;
$color-ccd0ff: #ccd0ff;

/**
 * Transition function
 */
$trans-timing-func: cubic-bezier(0.785, 0.135, 0.15, 0.86);

/**
 * Z index
 */
$z-1: 1;
$z-1000: 1000;
$z-1020: 1020;
$z-1030: 1030;
